<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue-demo</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.staticfile.org/axios/0.18.0/axios.js"></script>
		<script src="components/iform.js"></script>
		<script src="components/db.js"></script>
		<link rel="stylesheet" type="text/css" rev="stylesheet" href="asai.css">
	</head>
	<body>
		<div id="app" class="gys-k">
			<div class="gys-kd">
				<h2>添加/编辑</h2>
				<div class="gys-kr"></div>
{{formdata}}
				<iform v-for="(item,index) in lie" :key="index" :lieobj="item" v-model="formid"></iform>

				<div class="gys-fb"><label class="gys-fmt">-</label><input type="button" value="添加" @click="postadd"><input type="button"
					 class="gys-fmb" value="随机内容" @click="makeco"><input type="button" value="编辑" @click="postedit"></div>
				<div class="gys-kr"></div>
			</div>

			<div class="gys-kd">
				<div class="gys-kl-4 gys-cb-5">操作消息：<br>{{msg}}</div>
				<div class="gys-kl-4 gys-cb-9">返回信息：<br>{{info}}</div>
				<div class="gys-kl-4 gys-cb-13">编辑值：<br>{{formdata}}</div>
			</div>
			<h2>列表 第<input type="number" v-model="page" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
				 maxlength="20">页/每页<input type="number" v-model="pagesize" onkeyup="this.value=this.value.replace(/\D/g,'')"
				 onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="20">条</h2>
			<div class="gys-dh">
				<transition-group tag="div">
					<div class="gys-kd" v-for="(item,index) in listdata.list" :key="item.uj_id">
						<div class="gys-kl-1 gys-cb-5">{{index+1}}</div>
						<div class="gys-kl-1 gys-cb-9">{{item.uj_id}}</div>
						<div class="gys-kl-1 gys-cb-13">{{item.uj_ey}}</div>
						<div class="gys-kl-4 gys-cb-5">{{item.uj_eo}}</div>
						<div class="gys-kl-1 gys-cb-9">{{item.uj_er}}</div>
						<div class="gys-kl-2 gys-cb-13">{{item.uj_as}}</div>
						<div class="gys-kl-2 gys-cb-5"><button @click="showedit(item.uj_id)">修改</button><button @click="getdel(item.uj_id)">删除</button></div>
					</div>
				</transition-group>
			</div>
			<div>第{{listdata.page.page}}页/每页{{listdata.page.pagesize}}条/共{{listdata.page.pagecount}}页/共{{listdata.page.record}}条</div>
		</div>
		<script type="text/javascript">
			new Vue({
				el: '#app',
				data() {
					return {
						urlstart: 'http://localhost/AsaiWeb/',
						dataname: 'uj',
						lie: db.uj,
						formdata: null,
						formid: 272,
						listdata: [],
						info: [],
						msg: '',
						time: Date.parse(new Date()),
						page: 1,
						pagesize: 10,
						qiehuan: false
					}
				},
				created() {
					this.getinfo(this.formid);
					this.getlist();
					// this.makeco();
				},
				methods: {
					getvalue(lname) {
						// new Promise((resolve, reject) => {
						// 		this.getinfo(this.formid)
						// 	}).then(response => {
								let lvalue;
								eval('lvalue=this.formdata.' + this.dataname + '_' + lname);
								console.log(lvalue);
								return lvalue;
							// })
							// .catch(error => {
							// 	return error;
							// })
					},
					makeco() { //生成随机新内容
						this.formdata.uj_eo = parseInt(Math.random() * 100) + this.formdata.uj_eo;
					},

					getlist() { //ajax获取列表
						axios.get(this.urlstart + '?' + this.dataname + '/list/' + this.page + '/' + this.pagesize)
							.then(response => {
								console.log(response);
								this.listdata = response.data.data.list;
								this.msg = '列表信息（第' + this.page + '页/每页' + this.pagesize + '条）读取成功！'
							})
							.catch(error => {
								console.log(error);
							})
					},
					getinfo(ga) { //ajax获取id信息
						axios.get(this.urlstart + '?' + this.dataname + '/info/' + ga)
							.then(response => {
								console.log(response)
								this.formdata = response.data.data.info
								this.msg = '成功读取ID为' + ga + '的信息。'
							})
							.catch(error => {
								console.log(error);
							})
					},
					getdel(ga) { //删除
						axios.get(this.urlstart + '?' + this.dataname + '/del/' + ga)
							.then(response => {
								console.log(response);
								this.msg = '成功删除id为' + ga + '的信息！';
								this.getlist();
							})
							.catch(error => {
								console.log(error)
							})
					},
					showedit(pa) { //编辑窗口
						this.qiehuan = true;
						this.formid = pa;
					},
					postadd() { //添加
						if (this.formdata.uj_eo !== '' && this.formdata.uj_er !== '') {
							axios({
									method: 'post',
									url: this.urlstart + '?' + this.dataname + '/add/',
									data: this.formdata,
									headers: {
										'Content-Type': 'application/json;charset=UTF-8',
									}
									//headers:{'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8',}//指定消息格式
								})
								.then(response => {
									console.log(response);
									this.info = response.config.data;
									this.page = 1;
									this.getlist();
								})
								.catch(error => {
									//console.log(error);
								})
						} else {
							this.info = {
								'err': '备注、用户不能为空！'
							}
						}
					},
					postedit() { //编辑
						if (this.formdata.uj_eo !== '' && this.formdata.uj_er !== '') {
							axios({
									method: 'post',
									url: this.urlstart + '?' + this.dataname + '/edit/' + this.formid,
									data: this.formdata,
									headers: {
										'Content-Type': 'application/json;charset=UTF-8',
									}
								})
								.then(response => {
									//console.log(response);
									this.info = response.config.data;
									this.getlist();
								})
								.catch(error => {
									//console.log(error);
								})
						} else {
							this.info = {
								'err': '备注、用户不能为空！'
							}
						}
					}
				},
				watch: {
					formid: function(val) {
						this.getinfo(val);
					},
					page: function(val) {
						this.getlist();
					},
					pagesize: function(val) {
						this.getlist();
					}
				},
				filters: {
					formatDate: function(value) {
						let date = new Date(value);
						let y = date.getFullYear();
						let MM = date.getMonth() + 1;
						MM = MM < 10 ? ('0' + MM) : MM;
						let d = date.getDate();
						d = d < 10 ? ('0' + d) : d;
						let h = date.getHours();
						h = h < 10 ? ('0' + h) : h;
						let m = date.getMinutes();
						m = m < 10 ? ('0' + m) : m;
						let s = date.getSeconds();
						s = s < 10 ? ('0' + s) : s;
						return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s;
					}
				},
			})
		</script>
	</body>
</html>
