<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>jilu-add</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" href="../../asset/index.css">
	</head>
	<body>
		<div id="app">
			<h2>添加记录</h2>
			<el-form label-position="right" label-width="80px">
				<el-row>
					<el-col :xs="24" :sm="12" :md="6">
						<el-form-item label="记录编号">
							<el-input v-model="formdata.uj_id"></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="6">
						<el-form-item label="记录用户">
							<el-input v-model="formdata.uj_er"></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="6">
						<el-form-item label="记录类型">
							<el-select v-model="formdata.uj_ey" placeholder="请选择记录类型">
								<el-option label="区域一" value="0"></el-option>
								<el-option label="区域二" value="1"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="6">
						<el-form-item label="活动时间">
							<el-date-picker v-model="formdata.uj_as" type="datetime" placeholder="选择日期时间">
							</el-date-picker>
						</el-form-item>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="24">
						<el-form-item label="记录内容">
							<el-input type="textarea" v-model="formdata.uj_eo"></el-input>
						</el-form-item>
					</el-col>
				</el-row>

				<el-form-item>
					<el-button type="primary" @click="postadd">添加记录</el-button>
				</el-form-item>
			</el-form>
		</div>
	</body>
	<script src="../../asset/vue.js"></script>
	<script src="../../asset/axios.js"></script>
	<script src="../../asset/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					urlstart: 'http://localhost/AsaiWeb/',
					dataname: 'uj',
					formdata: {
						uj_id: 6,
						uj_ey: 12,
						uj_er: 'asai',
						uj_eo: '这是一个信心，测试用的！',
						uj_as: '2018/12/19 21:10:00'
					},
				}
			},
			methods: {
				postadd() { //添加
					if (this.formdata.uj_eo !== '' && this.formdata.uj_er !== '') {
						axios({
								method: 'post',
								url: this.urlstart + '?' + this.dataname + '/add/',
								data: this.formdata,
								headers: {
									'Content-Type': 'application/json;charset=UTF-8',
								}
								//headers:{'Content-Type':'application/x-www-form-urlencoded;charset=UTF-8',}//指定消息格式
							})
							.then(response => {
								// console.log(response);
								this.info = response.config.data;
								this.page = 1;
								this.getlist();
							})
							.catch(error => {
								//console.log(error);
							})
					} else {
						this.info = {
							'err': '备注、用户不能为空！'
						}
					}
				},
			}
		})
	</script>
</html>
